<footer class="footer">
  <div class="container">
    <div class="row">
    <div class="col-6 col-md-4 my-5">
      <h3>About Us</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">SITEMAP</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">PARTNERS</a>
            </li>
      </ul>
    </div>
    <div class="col-6 col-md-5 mt-5">
        <h3>About Us</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link">SHOP</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">MEAL</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">SITEMAP</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">PARTNERS</a>
              </li>
        </ul>
    </div>
    <div class="col-12 col-md-3 mt-5">
        <h3>Social Media</h3>
        <div class="row">
          <div class="col-4 col-lg-4 col-md-4"><a href=""><i class="fa fa-facebook"></i></a></div>
          <div class="col-4 col-lg-4 col-md-4"><a href=""><i class="fa fa-instagram"></i></a></div>
          <div class="col-4 col-lg-4 col-md-4"><a href=""><i class="fa fa-twitter"></i></a></div>
        </div>

        <div class="row mt-5">
          <div class="col-4 col-lg-4 col-md-4 terms">
              <img src="../../assets/images/logo.png" alt="Logo">
          </div>
          <div class="col-8 col-lg-8 col-md-8">
              <p>Terms and Condition apply<em> Copyright 2019</em></p>
          </div>
        </div>
    </div>
    </div>
  </div>
</footer>
