
.navbar {
  font-family: Arial, Helvetica, sans-serif;
}

.fa-shopping-cart{
  font-size: 38px;
  margin-left: 35px;
  color: #555;
}
.badge-primary{
  position: absolute;
  top: 15px;
  right: 105px;
  font-size: 16px;
  border-radius: 50%;
}

.navbar-light {
  color:#000;
  font-size: 1.0rem;
  font-weight: bold;
}
.btn-primary{
  border:none;
  background: #fff;
  color: #000 !important;
  font-size: 18px;
  padding:5px 35px;
  font-weight: bold;
}

.navbar-brand img{
  height:auto;
  width:80px;
}

@media screen and (max-width: 1900px) {
  .fa-shopping-cart{
    font-size: 38px;
    margin-left: 35px;
    color: #555;
  }
  .badge-primary{
    position: absolute;
    top: 15px;
    right: 255px;
    font-size: 16px;
    border-radius: 50%;
  }

}

@media screen and (max-width: 1600px) {
  .fa-shopping-cart{
    font-size: 38px;
    margin-left: 35px;
    color: #555;
  }
  .badge-primary{
    position: absolute;
    top: 15px;
    right: 140px;
    font-size: 16px;
    border-radius: 50%;
  }

}

@media screen and (max-width: 1200px) {
  .fa-shopping-cart{
    font-size: 38px;
    margin-left: 35px;
    color: #555;
  }
  .badge-primary{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 16px;
    border-radius: 50%;
  }

}

@media screen and (max-width: 900px) {
  .fa-shopping-cart{
    font-size: 38px;
    margin-left: 35px;
    color: #555;
  }
  .badge-primary{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    border-radius: 50%;
  }

}

@media screen and (max-width: 764px) {
  .fa-shopping-cart{
    font-size: 38px;
    margin-left: 35px;
    color: #555;
  }
  .badge-primary{
    position: absolute;
    top: 355px;
    right: 350px;
    font-size: 16px;
    border-radius: 50%;
  }

}

@media screen and (max-width: 600px) {
  .fa-shopping-cart{
    font-size: 38px;
    margin-left: 35px;
    color: #555;
  }
  .badge-primary{
    position: absolute;
    top: 355px;
    right: 350px;
    font-size: 16px;
    border-radius: 50%;
  }

}
