<div class="campaign-ongoing">
  <div class="container">
    <div class="text-center campaign">
      <h1>Campaigns</h1>
      <hr class="divider">
      <p>Join Campaign to Earn Pearlpoints</p>
    </div>
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/images/camp1.jpg" alt="DSTV" class="rounded ongoing">
              </div>
              <div class="col-md-3">
                  <img src="../../assets/images/camp2.jpg" alt="DSTV" class="rounded ongoing">
              </div>
              <div class="col-md-3">
                  <img src="../../assets/images/camp3.png" alt="DSTV" class="rounded ongoing">
              </div>
              <div class="col-md-3">
                <img src="../../assets/images/camp4.png" alt="DSTV" class="rounded ongoing">
              </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/images/airtime.jpg" alt="DSTV" class="rounded ongoing">
              </div>
              <div class="col-md-3">
                  <img src="../../assets/images/ShopRite.png" alt="DSTV" class="rounded ongoing">
              </div>
              <div class="col-md-3">
                  <img src="../../assets/images/camp5.webp" alt="DSTV" class="rounded ongoing">
              </div>
              <div class="col-md-3">
                <img src="../../assets/images/camp6.jpg" alt="DSTV" class="rounded ongoing">
              </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center my-4">
            <a href="" class="btn btn-primary text-white">
              Read More
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<section class="partners" id="partners">
      <div class="text-center part">
          <h1>Partners</h1>
          <hr class="divider-partner">
          <p>Our Partners</p>
      </div>
</section>
