<div class="partner">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../assets/images/camp1.jpg" alt="DSTV"></ng-template>
        <ng-template carouselSlide> <img src="../../assets/images/camp2.jpg" alt="DSTV"></ng-template>
        <ng-template carouselSlide><img src="../../assets/images/camp3.png" alt="DSTV"></ng-template>
        <ng-template carouselSlide><img src="../../assets/images/camp4.png" alt="DSTV"></ng-template>
        <ng-template carouselSlide><img src="../../assets/images/ShopRite.png" alt="DSTV"></ng-template>
        <ng-template carouselSlide><img src="../../assets/images/airtime.jpg" alt="DSTV"></ng-template>
        <ng-template carouselSlide><img src="../../assets/images/camp5.webp" alt="DSTV"></ng-template>
        <ng-template carouselSlide><img src="../../assets/images/camp6.jpg" alt="DSTV"></ng-template>
      </owl-carousel-o>
</div>

