<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="travel mx-auto mt-4">
            <h2 class="text-center">Travel Experience</h2>
            <hr>
            <p class="text-center">Use your PearlPoints for that longing experience to cities of your choice.</p>
          </div>
    </div>
  </div>
</div>
<div class="travel-experience mt-5">
  <div class="container">
        <div class="myCarousel">
            <div id="secondCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-4 mt-5 states">
                          <img src="../../assets/images/img-singapore.jpg" alt="" class="rounded d-block">
                          <div class="desc">
                            <h4>Visit Singapore</h4>
                            <p>1000PT</p>
                          </div>
                        </div>
                        <div class="col-md-4 mt-5 states">
                            <img src="../../assets/images/img-dubai.jpg" alt="" class="rounded d-block">
                            <div class="desc">
                              <h4>Visit Singapore</h4>
                              <p>1000PT</p>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 states">
                            <img src="../../assets/images/rwanda.jpg" alt="" class="rounded d-block">
                            <div class="desc">
                              <h4>Visit Singapore</h4>
                              <p>1000PT</p>
                            </div>
                        </div>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 mt-5 states">
                            <img src="../../assets/images/img-newyork.jpg" alt="" class="rounded d-block">
                            <div class="desc">
                              <h4>Visit Singapore</h4>
                              <p>1000PT</p>
                            </div>
                          </div>
                          <div class="col-md-4 mt-5 states">
                              <img src="../../assets/images/img-malaysia.jpg" alt="" class="rounded d-block">
                              <div class="desc">
                                <h4>Visit Singapore</h4>
                                <p>1000PT</p>
                              </div>
                          </div>
                          <div class="col-md-4 mt-5 states">
                              <img src="../../assets/images/rwanda.jpg" alt="" class="rounded d-block">
                              <div class="desc">
                                <h4>Visit Singapore</h4>
                                <p>1000PT</p>
                              </div>
                          </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

            <div class="row my-4">
              <div class="col-md-6 offset-5">
                <a class="btn btn-primary text-white px-4 btn-large my-4">
                  Read More
                </a>
              </div>
            </div>
    </div>
  </div>

